.u-section-1 .u-sheet-1 {
  min-height: 1053px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 923px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-accordion-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-1 {
  font-size: 1.25rem;
  background-image: none;
  text-decoration: none solid rgb(0, 0, 0);
  font-weight: 700;
}

.u-section-1 .u-icon-1 {
  height: 15px;
  width: 15px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 322px;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-accordion-item-2 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-2 {
  font-size: 1.25rem;
  background-image: none;
  text-decoration: none solid rgb(0, 0, 0);
  font-weight: 700;
}

.u-section-1 .u-icon-2 {
  height: 15px;
  width: 15px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 322px;
  height: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-accordion-item-3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-3 {
  font-size: 1.25rem;
  background-image: none;
  text-decoration: none solid rgb(0, 0, 0);
  font-weight: 700;
}

.u-section-1 .u-icon-3 {
  height: 15px;
  width: 15px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 322px;
  height: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-accordion-item-4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-4 {
  font-size: 1.25rem;
  background-image: none;
  text-decoration: none solid rgb(0, 0, 0);
  font-weight: 700;
}

.u-section-1 .u-icon-4 {
  height: 15px;
  width: 15px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 322px;
  height: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin: 0;
}

.u-section-1 .u-accordion-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-5 {
  font-size: 1.25rem;
  background-image: none;
  text-decoration: none solid rgb(0, 0, 0);
  font-weight: 700;
}

.u-section-1 .u-icon-5 {
  height: 15px;
  width: 15px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 322px;
  height: auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-image-1 {
  min-height: 923px;
  background-image: url("images/El_triunfo_de_san_AgustA_n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 761px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 742px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 814px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1334px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 797px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 77px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1092px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 502px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 30px;
  }
}